<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macssusa.mapper.MemberMapper">

<!-- 회원가입 -->
<insert id="mInsert">
	insert into spr_member(id, password, nickname, email, regdate, available, ismanager) values(#{id}, #{password}, #{nickname}, #{email}, now(), 1, 0)
</insert>

<!-- id중복확인 및 로그인체크, 상세보기 -->
<select id="mfindById" resultType = "com.macssusa.model.MemberVO">
	select * from spr_member where id=#{id}
</select>

</mapper>